.navbar{
	height:100px !important;
	/*background: url(../images/headerback.png);*/
	background-color:#428C51;
	background-size: auto 150px;
	background-repeat: repeat-x;
	border:0;	
	position:relative;
	left:30px;
	margin-bottom:0px !important;
}

.topmenu{
	line-height: 80px;
	font-size: 20px;
	color:#fff;
	margin-right:0px;
}

#resheader{
	height:30px;
	text-align:center;
	line-height:30px;
	color:#FFFAF7;
	position:absolute;
	/*right:40px;*/
	left:-20px;
	top:45px;
	width:100%;
	font-size:24px;
}

table.DTFC_Cloned thead{
	background-color:transparent !important;
}

.head{display:none;}

.topmenu li{padding:5px;cursor:pointer;color:#ffe559;}

.topmenu li:hover{color:#ffe559;};

#rankingtitle{
	color:#ffe559 !important;
}

#poster{
	width:100%;
	height:100%;
	background: url(../images/popquiz2018.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	/*background-position: 0% 50%;*/
}

body{height:100%;margin:0;padding:0;margin-left:20px;margin-right:20px;background-color:#428C51;}
html{height:100%;margin:0;padding:0;}

#mainwrapper{	
	display:none;
	height:100%;
}

#wrapper{position:relative;height:calc(100% - 155px);}

#poster{position:absolute;height:100%;top:0px;left:0;}

.red{
	background-color: rgba(255,0,0,0.5);
	color:#fff;
}

.orange{
		background-color: rgba(255,153,0,0.5);
	color:#666;
}

.green{

		background-color: transparent;
	color:#666;
}


thead{
	color:#ffe559;
}

#list{display:none;}

/*#list tbody,#ranking tbody{font-size:16px;}
#list thead,#ranking thead{font-size:14px;}*/

/*#list .badge, #ranking .badge{font-size:14px;}*/

.highscore{
	font-size:25px;
	font-weight:bold;
}

.panel-heading{
	font-size:18px;
}

.top3total{
	text-align:left;
	font-size:12px;
}

.top3lastround{
	text-align:left;
	font-size:12px;
}

.odd{

	background-color:#eee !important;
}

.filter{
	display:none;
}

.legenda{
	font-size:10px;
}

.cbadge{
	color: #c0c0c0;
	font-size:10px;
}