.navbar{

	height:150px !important;
	background: url(../images/headerback.png);
	background-size: auto 150px;
	background-repeat: repeat-x;
	border:0;
	
}


.topmenu{
	line-height: 80px;
	font-size: 20px;
	color:#fff;
	margin-right:0px;
}

#resheader{
	height:30px;
	text-align:right;
	line-height:30px;
	color:#FFFAF7;
	position:absolute;
	right:40px;
	top:105px;
	width:50%;
	font-size:18px;
}

.head{display:none;}

.topmenu li{padding:5px;cursor:pointer;color:#272624;}

.topmenu li:hover{color:#024282;};

#rankingtitle{
	color:#fff !important;
}

#poster{
	width:100%;
	height:100%;
	background: url(../images/popquiz2017.png);
	background-repeat: repeat-y;
	background-position: 50% 50%;
}

body{height:100%;margin:0;padding:0;margin-left:20px;margin-right:20px;background-color:#fff;}
html{height:100%;margin:0;padding:0;}

#mainwrapper{	
	display:none;
	height:100%;
}

#wrapper{position:relative;height:calc(100% - 185px);}

#poster{position:absolute;height:100%;top:0px;left:0;}

.red{
	background-color: rgba(255,0,0,0.5);
	color:#fff;
}

.orange{
		background-color: rgba(255,153,0,0.5);
	color:#666;
}

.green{

		background-color: transparent;
	color:#666;
}




#list{display:none;}

/*#list tbody,#ranking tbody{font-size:16px;}
#list thead,#ranking thead{font-size:14px;}*/

/*#list .badge, #ranking .badge{font-size:14px;}*/

.highscore{
	font-size:25px;
	font-weight:bold;
}

.panel-heading{
	font-size:18px;
}

.top3total{
	text-align:left;
	font-size:12px;
}

.top3lastround{
	text-align:left;
	font-size:12px;
}

.odd{

	background-color:#eee !important;
}

.filter{
	display:none;
}

.legenda{
	font-size:10px;
}

.cbadge{
	color: #c0c0c0;
	font-size:10px;
}